<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="table-header">
      <ion-col>
        <strong>Nombre</strong>
      </ion-col>
      <ion-col>
        <strong>Rol</strong>
      </ion-col>
      <ion-col class="text-center">
        <strong>Opciones</strong>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let usuario of usuarios" class="table-row">
      <ion-col>
        {{usuario.nombre_usuario}}
      </ion-col>
      <ion-col>
        {{usuario.nombre_rol}}
      </ion-col>
      <ion-col class="text-center">
        <ion-button size="small" color="danger" fill="clear">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="warning" fill="clear">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="success">
        <ion-icon name="add"></ion-icon>
        Agregar Usuario
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
