.content {
  --ion-background-color: #E1EAF9; /* Fondo negro para el contenido */
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.mi-datatable th,
.mi-datatable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid orange; /* Borde inferior naranja para las celdas */
  color: orange; /* Color del texto naranja */
  width: 10%; /* Ancho relativo del 10% para las celdas */
}

.mi-datatable th {
  --ion-background-color: orange; /* Fondo naranja para las celdas de encabezado */
}

.mi-datatable tbody tr:nth-child(even) {
  --ion-background-color: #E1EAF9; /* Fondo negro para filas pares */
}

.mi-datatable tbody tr:nth-child(odd) {
  --ion-background-color: #333; /* Fondo gris oscuro para filas impares */
}


