<ion-header [translucent]="true">
  <ion-toolbar color="#e66013">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Roles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="table-header">
      <ion-col>
        <strong>Rol</strong>
      </ion-col>
      <ion-col>
        <strong>Estado</strong>
      </ion-col>
      <ion-col class="text-center">
        <strong>Opciones</strong>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let rol of roles" class="table-row">
      <ion-col class="text-center">
        {{rol.nombre_rol}}
      </ion-col>
      <ion-col class="text-center">
        <ion-button *ngIf="rol.estado_rg === 1" size="medium" color="success" fill="clear" (click)="desactivarRol(rol)">
        <ion-icon name="toggle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="rol.estado_rg === 0" size="medium" color="danger" fill="clear" (click)="activarRol(rol)">
        <ion-icon name="toggle-outline"></ion-icon>
      </ion-button></ion-col>
      <ion-col class="text-center">
       
        
        
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-button size="small" color="warning" fill="clear" id="open-modal">
    <ion-icon name="create-outline"></ion-icon>
  </ion-button>


 
</ion-content>
