<ion-header [translucent]="true">
  <ion-toolbar color="#e66013">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Roles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="table-header">
      <ion-col>
        <strong>Rol</strong>
      </ion-col>
      <ion-col>
        <strong>Estado</strong>
      </ion-col>
      <ion-col class="text-center">
        <strong>Opciones</strong>
      </ion-col>
    </ion-row>

    <ion-row class="table-row">
      <ion-col>
       
      </ion-col>
      <ion-col>
        
      </ion-col>
      <ion-col class="text-center">
        <ion-button size="small" color="danger" fill="clear">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="warning" fill="clear" id="open-modal" >
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        
      </ion-col>
    </ion-row>
  </ion-grid>


 
</ion-content>
