/* Estilos para un botón específico */
.custom-button {
    width: 100%; /* Alarga el botón */
    --background: #e66013
    ; /* Cambia el color de fondo del botón a naranja */
  
}

ion-menu-button {
    --color: #e66013; /* Cambia el color del icono del botón del menú a naranja */
  }


  ion-card{
    --ion-background-color: transparent !important;
      box-shadow: none !important;
      background-color: transparent !important;
      width: 100%
  }
  
  
  

  ion-content{
    --ion-background-color:#E1EAF9 !important;
    --ion-item-background: transparent !important;
  }

  